.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin: auto;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 4px;
}
